.hide {
  color: transparent;
  font-size: 0;
  position: absolute;
  opacity: 0;
  width: 0;
}

.borderless {
  border: 0 !important;
}

.red-dim {
  &:hover {
    background-color: var(--red-dim);
  }
}
